body {
	background-color: $light-green;
}

.link .entry .tagline a.author {
    margin-right: 0.5em;
}
/* Addon: Custom CSS Text */
.arrow.down:after {
    content: "Bogey Content";
}

div.titlebox span.number:after {
    content: " Golfers";
}

.titlebox .users-online .number:after {
    content: " On the Green";
}
/* End Addon */

/* Addon: Custom Colors */
/* Buttons */
.morelink, .side .titlebox .md h3 a, .drop-choices a.choice:hover, .submit-page #newlink.submit.content ul.tabmenu.formtab,
.submit_text.enabled.roundfield, body .btn, body button, .content .infobar {
    background-color: $green;
}

    .morelink:hover, .side .titlebox .md h3 a:hover, .btn:hover, body button:hover {
        background-color: lighten($green, 5%);
    }

    .morelink:active, .side .titlebox .md h3 a:active, .btn:active, body button:active {
        background-color: darken($green, 5%);
    }

/* Links */
.thing .title.loggedin.click, .thing .title.click, .thing .title.loggedin, .thing .title, .link .entry .buttons li a.comments,
.link .entry .buttons li a.flairselectbtn, .link .entry .buttons li a:hover, .titlebox .tagline a.flairselectbtn, .md a,
.side .titlebox .md h4 a, .wiki-page .wiki-page-content .md.wiki h4, .sidebox.create .morelink a, a, .side:after, .usertext .bottom-area a.reddiquette,
.wiki-page .pageactions .wikiaction-current, .tagline .submitter, .combined-search-page .search-result .search-result-header .search-title,
.combined-search-page .search-result a, .combined-search-page .search-result a > mark, .combined-search-page .search-result .search-comments,
.flairselector h2, .linefield .title, body .content .sitetable .link .title a:hover, .link .entry .tagline a:hover, .comment .author:hover {
    color: $green;
}
/* End Addon */


/* Addon: Infobox ReColor */
.side .titlebox h1.redditname:before {
    background-color: $green;
}

.side .titlebox h1.redditname a, .titlebox span.subscribers {
    color: #fff;
}
/* End Addon */


/* Addon: Custom Snoo */
#header-img.default-header, #header-img {
    background: url(%%snoo%%) no-repeat 0px 0px;
    padding-left: 80px;
    height: 111px;
}

    #header-img.default-header:hover, #header-img:hover {
        background-position: 0px 0px;
    }

#header-bottom-left {
    top: 31px;
}
/* End Addon */

/* Addon: Custom Subreddit Title */
/* This is the one in the header */
#header .pagename a {
    height: 111px;
    width: 235px;
    background-image: url(%%title%%);
    background-repeat: no-repeat;
    background-size: auto 111px;
    text-indent: -9999px;
}

/* This is the one in the sidebar */
.side .titlebox h1.redditname a {
    display: block;
    height: 22px;
    width: 176px;
    background-image: url(%%title-sidebar%%);
    background-repeat: no-repeat;
    background-size: auto 100%;
    text-indent: -9999px;
}
/* End Addon */