/* Flair Styles */
.flair {
    display: inline-block;
    margin-right: .5em;
    padding: 0 2px;
    background: #f5f5f5;
    color: #555;
    border: 1px solid #ddd;
    border-radius: 2px;
    unicode-bidi: isolate;
}
.flair{
  &:before {
      margin-right: 0px;
      margin-left: 0px;
      content: "";
  }
}

.flair-adams,
.flair-adidas,
.flair-bridgestone,
.flair-callaway,
.flair-cleveland,
.flair-cobra,
.flair-footjoy,
.flair-mizuno,
.flair-nike,
.flair-odyssey,
.flair-ping,
.flair-scottycameron,
.flair-srixon,
.flair-taylormade,
.flair-titleist,
.flair-wilson,
.flair-byron,
.flair-scratch,
.flair-bettinardi,
.flair-miura,
.flair-seemore,
.flair-piretti,
.flair-macgregor,
.flair-lynx,
.flair-epon,
.flair-ineedtheball,
.flair-maruman,
.flair-benhogan,
.flair-rife,
.flair-snakeeyes,
.flair-puma,
.flair-us,
.flair-eu,
.flair-honma,
.flair-spalding,
.flair-vice,
.flair-pxg,
.flair-ksig,
.flair-underarmour {
  height: 14px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
  box-sizing: content-box;
}



.flair-adams {
  background: #f5f5f5 url(%%flair-sprite%%) 0 0 no-repeat;
  padding: 0 4px 0 35px;
}

.flair-adidas {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -14px no-repeat;
  padding: 0 4px 0 53px;
}

.flair-bridgestone {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -28px no-repeat;
  padding: 0 4px 0 61px;
}

.flair-callaway {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -42px no-repeat;
  padding: 0 4px 0 29px;
}

.flair-cleveland {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -56px no-repeat;
  padding: 0 4px 0 53px;
}

.flair-cobra {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -70px no-repeat;
  padding: 0 4px 0 73px;
}

.flair-footjoy {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -84px no-repeat;
  padding: 0 4px 0 37px;
}

.flair-mizuno {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -98px no-repeat;
  padding: 0 4px 0 69px;
}

.flair-nike {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -112px no-repeat;
  padding: 0 4px 0 77px;
}

.flair-odyssey {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -126px no-repeat;
  padding: 0 4px 0 54px;
}

.flair-ping {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -140px no-repeat;
  padding: 0 4px 0 31px;
}

.flair-scottycameron {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -154px no-repeat;
  padding: 0 4px 0 75px;
}

.flair-srixon {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -168px no-repeat;
  padding: 0 4px 0 33px;
}

.flair-taylormade {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -182px no-repeat;
  padding: 0 4px 0 60px;
}

.flair-titleist {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -196px no-repeat;
  padding: 0 4px 0 43px;
}

.flair-wilson {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -210px no-repeat;
  padding: 0 4px 0 53px;
}

.flair-byron {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -224px no-repeat;
  padding: 0 4px 0 34px;
}

.flair-scratch {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -238px no-repeat;
  padding: 0 4px 0 44px;
}

.flair-bettinardi {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -252px no-repeat;
  padding: 0 4px 0 72px;
}

.flair-miura {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -266px no-repeat;
  padding: 0 4px 0 50px;
}

.flair-seemore {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -280px no-repeat;
  padding: 0 4px 0 46px;
}

.flair-piretti {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -294px no-repeat;
  padding: 0 4px 0 44px;
}

.flair-macgregor {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -308px no-repeat;
  padding: 0 4px 0 36px;
}

.flair-lynx {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -322px no-repeat;
  padding: 0 4px 0 30px;
}


.flair-epon {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -336px no-repeat;
  padding: 0 4px 0 58px;
}


.flair-ineedtheball {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -350px no-repeat;
  padding: 0 4px 0 45px;
}

.flair-maruman {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -364px no-repeat;
  padding: 0 4px 0 48px;
}

.flair-benhogan {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -378px no-repeat;
  padding: 0 4px 0 50px;
}

.flair-rife {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -392px no-repeat;
  padding: 0 4px 0 39px;
}

.flair-snakeeyes {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -406px no-repeat;
  padding: 0 4px 0 41px;
}

.flair-puma {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -420px no-repeat;
  padding: 0 4px 0 47px;
}

.flair-us {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -434px no-repeat;
  padding: 0 4px 0 12px;
  border: none !important;
  height: 12px;
}

.flair-eu {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -448px no-repeat;
  padding: 0 4px 0 12px;
  border: none !important;
  height: 12px;
}

.flair-honma {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -461px no-repeat;
  padding: 0 4px 0 38px;
}

.flair-spalding {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -475px no-repeat;
  padding: 0 4px 0 72px;
}

.flair-vice {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -489px no-repeat;
  padding: 0 4px 0 19px;
}

.flair-pxg {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -503px no-repeat;
  padding: 0 4px 0 30px;
}

.flair-ksig {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -518px no-repeat;
  padding: 0 4px 0 42px;
}
.flair-underarmour {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -532px no-repeat;
  padding: 0 4px 0 77px;
}
/* End Flair Styles */
