$linkblue: #24a0ed;
$blue: #336699;
$green: #27b062;
$black: #292f34;
$gray:#98abba;
$light-gray: #eee;
$light-green: #e6f3eb;

$unsub: rgba(0,0,0,0.24);
$unsub-hover: rgba(0,0,0,0.32);

//Shadows
$shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
