#header {color: white; background-color: inherit; height: 120px; background-image: url(%%redditgolf-header%%); background-position: 0 19px; background-repeat:repeat-x;}
#header #header-img { width: 62px; height: 92px }
#header-bottom-left .tabmenu {
  position: relative;
  margin: 0;
  padding: 0;
  top: 3px;
}

#header-bottom-left .tabmenu li {
  margin: 0;
}

/* replace "readers" with "golfers*/
div.titlebox span.word {display: none}
div.titlebox span.number:after {content: " golfers"}


/* flavor the upvote box in the comments */
.linkinfo .upvotes .word {font-size:0}
.linkinfo .upvotes {display:none;font-size:14px;}
.linkinfo .downvotes {font-size:14px;font-style:italic;}
.linkinfo .downvotes .word {font-size: 0}
.linkinfo .downvotes:after {padding-right:2px; content:"shots over par"; font-style:italic;}
.linkinfo .score .number{font-size:16px}
.linkinfo .score .number:after{padding-left:2px; content:"birdie'd";}
.linkinfo .score .word {display: none}

/* Hide the down vote button on posts */
/* .link .down { display: none; } */

/* Hide the down vote button on comments */
/* .comment .down { display: none; } */


/* Arrow mods */
/*************************************************************************
.arrow             {height: 16px; width: 16px;background-image: url(%%vote-sprite%%) !important;}
.arrow.upmod,
.arrow.up:hover    {background-position: -16px 0;}
.arrow.downmod,
.arrow.down:hover  {background-position: -16px -16px;}
.arrow.up          {background-position: 0 0;}
.arrow.down        {background-position: 0 -16px;}
**********************************************************************/

/* CSS to add header links, send complaints to Gabour */

.titlebox form {
    /*Hack to enable repositioning of child elements*/
    position: static
}
.side .usertext h3{
    position:absolute;
    top:50px;
    left:80px;
    z-index:999;
    font-size: 100%;
}
.side .usertext h3 a {
  color: #fff;
  display: inline-block;
  background: url(%%h3bg%%);
  padding: 5px;
  border-radius: 2px;
  font-size: 100%;
  margin: 0 3px 0 0;
}

.sidebox.create .spacer {
  display: none;
}

.side .usertext h3 a:hover { background: #000; color: #fc0; }

.pagename   { position: relative; top: 1px; }
.pagename a { color: #fff; }

/* Minor Style Tweaks */
#header {
  border-bottom: none;
}



#header-bottom-left .tabmenu li a {
  background: none;
  /*color: #d5f6d2;*/
  color: #fff;
  font-weight: normal;
  padding: 2px 8px 0;
  display: inline-block;
}

#header-bottom-left .tabmenu li a:hover {
  color: #fc0;
  /*color: #a0e04d;*/
}

#header-bottom-left .tabmenu li.selected a {
  position: relative;
  background: #fff;
  top: 1px;
  font-weight: bold;
  border: 1px solid #fff;
  border-bottom: 2px solid #fff;
  color: #31850f;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#header-bottom-right {
  border-bottom: 1px solid #ccc;
}


/* End Minor Style Tweaks */

body.listing-page .entry {
  padding-top: 3px;
}

.midcol.likes,
.midcol.dislikes,
.midcol.unvoted {
  min-width: 16px !important;
}

body.listing-page .link .score {
  padding: 3px 0;
}

.link .score {
  font-weight: normal;
}

.link .score.likes {
  color: #d00000;
}

.link .score.dislikes {
  color: #555;
}

/* New Button Style */
.side {
  padding-top: 62px;
}

body.submit-page .side {
  padding-top: 5px
}

.sidebox.submit {
  width: 300px;
  position: absolute;
  top: 127px;
  right: 5px;
}

.sidebox.submit .spacer {
  display: none;
}

.sidebox.submit .morelink {
  background: none;
  height: 54px;
  line-height: 54px;
  border: none;
}

.sidebox.submit .morelink .nub {
  display: none;
}

.sidebox.submit .morelink a {
  color: #fff;
  font-size: 20px;
  height: 54px;
  line-height: 54px;
  width: 300px;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 0;
  font-weight: 600;
  border-radius: 3px;
  background-color: green;
  background-image: url(%%golfitbutton%%);
  background-position: 0 0;
  background-repeat: no-repeat;
}


.sidebox.submit .morelink a:hover {
  background-position: 0 -54px;
}

/* End New Button Style */

/* Search Box Style */
#search input[type="text"] {
  border-radius: 2px;
  border: 1px solid #ccc;
  font-size: 12px;
  width: 288px;
  padding: 4px 6px;
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
}

/* End Search Box Style */

/* Sidebar Titlebox Tweaks */
.titlebox {
  padding-top: 5px;
  margin-top: -3px;
  background: url(%%titlebox%%) 0 0 repeat-x;
  color: #333;
}

.titlebox h1 {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 0 5px 10px;
  font-weight: normal;
  font-size: 22px;
}

.titlebox .fancy-toggle-button {
  margin: 0 0 10px 10px;
}

.subscribers {
  float: right;
  margin: -22px 10px 0 0;
}

.users-online {
  margin: 2px 10px 0 0;
  float: right;
}
/* End Sidebar Titlebox Tweaks */

/* Sidebar Image */
.titlebox .bottom {
  padding: 0;
  height: 200px;
  background: url(%%sidebar2%%);
  border: 0;
  position: relative;
}

.titlebox .age {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 290px;
  height: 24px;
  padding: 0 5px;
  text-align: right;
  line-height: 24px;
  color: #999;
  background: url(%%h3bg%%);
}
/* End Sidebar Image */

/* Flair Styles */
.flair-adams {
  background: #f5f5f5 url(%%flair-sprite%%) 0 0 no-repeat;
  height: 14px;
  padding: 0 4px 0 35px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.flair-adidas {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -14px no-repeat;
  height: 14px;
  padding: 0 4px 0 53px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.flair-bridgestone {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -28px no-repeat;
  height: 14px;
  padding: 0 4px 0 61px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.flair-callaway {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -42px no-repeat;
  height: 14px;
  padding: 0 4px 0 29px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.flair-cleveland {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -56px no-repeat;
  height: 14px;
  padding: 0 4px 0 53px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.flair-cobra {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -70px no-repeat;
  height: 14px;
  padding: 0 4px 0 73px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.flair-footjoy {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -84px no-repeat;
  height: 14px;
  padding: 0 4px 0 37px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.flair-mizuno {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -98px no-repeat;
  height: 14px;
  padding: 0 4px 0 69px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.flair-nike {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -112px no-repeat;
  height: 14px;
  padding: 0 4px 0 77px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.flair-odyssey {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -126px no-repeat;
  height: 14px;
  padding: 0 4px 0 54px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.flair-ping {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -140px no-repeat;
  height: 14px;
  padding: 0 4px 0 31px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.flair-scottycameron {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -154px no-repeat;
  height: 14px;
  padding: 0 4px 0 75px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.flair-srixon {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -168px no-repeat;
  height: 14px;
  padding: 0 4px 0 33px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.flair-taylormade {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -182px no-repeat;
  height: 14px;
  padding: 0 4px 0 60px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.flair-titleist {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -196px no-repeat;
  height: 14px;
  padding: 0 4px 0 43px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.flair-wilson {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -210px no-repeat;
  height: 14px;
  padding: 0 4px 0 53px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.flair-byron {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -224px no-repeat;
  height: 14px;
  padding: 0 4px 0 34px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.flair-scratch {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -238px no-repeat;
  height: 14px;
  padding: 0 4px 0 44px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.flair-bettinardi {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -252px no-repeat;
  height: 14px;
  padding: 0 4px 0 72px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.flair-miura {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -266px no-repeat;
  height: 14px;
  padding: 0 4px 0 50px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.flair-seemore {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -280px no-repeat;
  height: 14px;
  padding: 0 4px 0 46px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.flair-piretti {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -294px no-repeat;
  height: 14px;
  padding: 0 4px 0 44px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.flair-macgregor {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -308px no-repeat;
  height: 14px;
  padding: 0 4px 0 36px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.flair-lynx {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -322px no-repeat;
  height: 14px;
  padding: 0 4px 0 30px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}


.flair-epon {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -336px no-repeat;
  height: 14px;
  padding: 0 4px 0 58px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}


.flair-ineedtheball {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -350px no-repeat;
  height: 14px;
  padding: 0 4px 0 45px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.flair-maruman {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -364px no-repeat;
  height: 14px;
  padding: 0 4px 0 48px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.flair-benhogan {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -378px no-repeat;
  height: 14px;
  padding: 0 4px 0 50px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.flair-rife {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -392px no-repeat;
  height: 14px;
  padding: 0 4px 0 39px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.flair-snakeeyes {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -406px no-repeat;
  height: 14px;
  padding: 0 4px 0 41px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.flair-puma {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -420px no-repeat;
  height: 14px;
  padding: 0 4px 0 47px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.flair-us {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -434px no-repeat;
  height: 14px;
  padding: 0 4px 0 12px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
  border: none !important;
}

.flair-eu {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -448px no-repeat;
  height: 14px;
  padding: 0 4px 0 12px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
  border: none !important;
}

.flair-honma {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -461px no-repeat;
  height: 14px;
  padding: 0 4px 0 38px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.flair-spalding {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -475px no-repeat;
  height: 14px;
  padding: 0 4px 0 72px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.flair-vice {
  background: #f5f5f5 url(%%flair-sprite%%) 0 -489px no-repeat;
  height: 14px;
  padding: 0 4px 0 19px;
  text-indent: 8px;
  margin: 0;
  vertical-align: top;
  position: relative;
}

/* End Flair Styles */


a[href$="/dougburr"]:after,
a[href$="/USERNAME"]:after,
a[href$="/USERNAME2"]:after,
a[href$="/USERNAME3"]:after {

    color:#f00;
    margin-left:10px;
    font-weight:bold;
    content:"[hater of rules]"

}